.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav a {
  margin-left: 15px;
  background: #000;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  margin-top: 20px;
}

@media (max-width : 480px) {
  .container{
    padding: 0 30px;
  }
}
